<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Control</title>
    <link rel="shortcut icon" type="image/png" href="static/images/icon.png">

    <!-- Import some nice fonts from Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <link href="static/styles/app.css " rel="stylesheet">

    <style>
      .logo {
        width: 20%;
        padding: 40px;
        padding-left: 40%;
        padding-right: 40%;
      }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type=text/javascript>
      function data_load() {
        var select_container = document.getElementById("select_container");
        var child_options = select_container.getElementsByTagName("option");

        var product = '{{ product }}';

        for(var i=0; i<child_options.length; i++){
          if (child_options[i].value == product) {
            child_options[i].selected = true
          }
        }

        setInterval(function(){ location.reload(); }, 30000);

      }


    </script>

    <body onload="data_load()">


  </head>
  <body>

    <div class='topnav'>
      <li><img class="logo" src="static/images/logo.png"></li>
    </div>

    <p>Next Product:</p>

    <form action="{{ url_for('website.control') }}" method="post">
      <select id="select_container" class="select_menu" name="products" onchange='this.form.submit();'>
        <option value="donut">Donuts</option>
        <option value="muffin">Muffins</option>
        <option value="pie">Apple Pie</option>
        <option value="cookie">Cookies</option>
        <option value="fry">Large Fries</option>
        <option value="hashbrown">Hash Browns</option>
        <option value="coffee">Upsize Coffee</option>
      </select>
    </form>

  </body>
</html>
