<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Floor Board Control</title>

    <style>
      body {
        margin:0;
        background-color: black;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
      }

      li {
        float: left;
      }

      .logo {
        width: 20%;
        padding: 40px;
      }
    </style>

  </head>
  <body>

    <ul>
      <li><img class="logo" src="static/logo.png"></li>
    </ul>

  </body>
</html>
