  <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>

    <!-- Import some nice fonts from Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <link href="static/styles/app.css" rel="stylesheet">

    <style>
      body {
        background-color: black;
        font-family: 'Arial';
        color: white;
      }

      .center {
        background: black;
        margin: auto;
        margin-top: 100px;
        width: 50vh;
        max-width: 70%;
      }

      .logo {
        width: 80%;
        margin-bottom: 30px;
        margin-right: 10%;
        margin-left: 10%;
      }

    </style>

  </head>
  <body>
    <div class="center">
      <img class="logo" src="static/images/logo.png">

      <form action="" method="post">
        <input class="input" placeholder="STORE NUMBER" type="text" name="username" value="{{ request.form.username }}">
        <input class="input" placeholder="PASSWORD" type="password" name="password" value="{{ request.form.password }}">
        <input class="button" type="submit" value="Login">
      </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

    </div>

  </body>
</html>
