body {
    margin:0;
    background-color: black;
}

.topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
}

.button {
    margin-top: 7%;
    margin-left: 35%;
    width: 30%;
    height: 70px;
    background-color: #ffd966ff;
    border: 0px;

    font-weight: bold;
    font-size: 20px;
    font-family: 'Josefin Sans';
}

.button:hover {
    background-color: #edbd2aff;
}

.select_menu {
    margin-left: 35%;
    width: 30%;
    height: 70px;
    background-color: white;
    border: 0px;

    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Josefin Sans';
}

.select_menu::-ms-expand {
  background-color: yellow;
}

.input {
    width: 94%;
    margin-top: 5%;
    height: 10vh;
    max-height: 70px;

    font-size: 20px;
    padding-left: 5%;
    background-color: #bababa;
    border: 0px;
    color: black;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Josefin Sans';
    color: #7a7a7a;
    font-size: 18px;
    opacity: 1; /* Firefox */
}

p {
    font-size: 300%;
    color: white;
    text-align: center;
    font-family: 'Josefin Sans';
}

.error {
    color: red;
}