<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game in progress...</title>
    <link rel="shortcut icon" type="image/png" href="static/images/icon.png">

    <!-- Import some nice fonts from Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    <link href="static/styles/app.css " rel="stylesheet">

    <script src="static/scripts/app.js"></script>

  </head>
  <body>

    <div class='topnav'>
      <img class="logo" onclick="location.href = '{{ url_for('main.index') }}'" src="static/images/logo.png">
    </div>

    <form id="form" class="center" onsubmit="return confirm('Hey!\nProgress will be lost for the active game. Are you sure you want to CANCEL the active game?')" action="{{ url_for('main.active') }}" method="post">
      <p>Game in progress...</p>
      <input class="button" style="background-color: #b30000; width: 100%; margin-left: 0; height: 12vh;" type="submit" value="CANCEL">
    </form>

  </body>
</html>